body {
  margin: 0%;
}
.marginless {
  margin: 0%;
}
.field {
  padding: 20px;
  display: inline-table;
}
.subField {
  margin-top: 0%;
  margin-bottom: 0%;
}

.container {
  align-items: "flex-start | flex-end | center | baseline | stretch";
}
.first {
  /* background: rgb(255, 0, 0); */
}
.sec {
  /* background: blue; */
  border-top-style: double;
  border-bottom-style: groove;
}
.third {
  /* background: green; */
}

.profile-image {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  background-image: url("./pic/profile-pic.jpg");
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333;*/
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #4caf50;
}

.active {
  background-color: #4caf50;
}

.mi {
  padding: 10px;
}
